.container {
  background-color: var(--cBlackV1);
  padding: var(--spM);
  border-radius: var(--bRadiusS);
  & > section:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spM);
    & > p {
      font-weight: 600;
      font-size: var(--sL);
    }
  }
  & > section:last-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-right: 8px; */
    & > div:first-of-type {
      border-radius: 0 0 0 var(--bRadiusS);
    }
    & > div:last-of-type {
      border-radius: 0 0 var(--bRadiusS) 0;
    }
    & > div {
      width: 100%;
      background-color: var(--cWhiteV1);
      border: 1px solid var(--cWhiteV1);
      text-align: right;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 16px;
      & > span {
        padding-right: 15px;
      }
    }
  }
}
