.users {
    & h1 {
        margin-bottom: var(--sL);
        margin-left: var(--sL);
    }
    & h2 {
        margin-bottom: var(--sL);
        margin-left: var(--sL);
    }
}

.detailAffiliate {
    & > div {
        text-align: center;
        margin-top: var(--sL);
    }
}