.container {
  background-color: var(--cBlackV1);
  border-radius: var(--bRadiusM);
  padding: var(--spL);
  min-height: 168px;

  & > section {
    & > div:nth-child(1) {
      font-size: var(--sXxl);
      font-weight: bold;
    }

    & > div:nth-child(2) {
      font-size: var(--sM);
      color: var(--cBlackV2);
      margin-top: 4px;
      font-weight: normal;
    }
  }
}

.container-card {
  display: flex;
  gap: 8px;
  margin-top: var(--spL);

  & > div {
    /* width: 170px;
    max-width: 200px; */

    & > h2 {
      font-size: 12px;
    }

    & > p {
      font-size: 24px;
      text-align: end;
    }
  }
}

.topWidgets {
  display: flex;
  align-items: center;
  gap: 24px;
  /* background-color: aquamarine; */
  & > div {
    width: 50%;
    min-width: 400px;
  }
  @media (max-width: 1529px) {
    flex-direction: column;
    gap: 24px;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--spS);
  border-radius: var(--bRadius);
  border: 1px solid var(--cBlackV3);
  text-align: start;
  background-color: #ffffff0d;

  /* max-width: 208px; */
  @media (min-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 1524px) {
    width: 100%;
    max-width: 100%;
  }

  & > div:nth-child(1) {
    color: var(--cBlackV2);
  }

  & > div:nth-child(2) {
    color: var(--cWhite);
    font-size: var(--sM);
    font-size: var(--spM);
    text-align: end;
    padding-right: var(--spS);
  }
}

.widgetResumeVotes {
  min-width: 540px;
  width: 100%;
  min-height: 359px;

  & > div:nth-child(1) {
    font-size: var(--sXxl);
    font-weight: bold;
    margin-bottom: 16px;

    & > div:nth-child(2) {
      font-size: var(--sM);
      color: var(--cBlackV2);
    }
  }

  & > div:nth-child(2) {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spL);
  }
}

.cardInfoResumeVotes {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--spS);
  border-radius: var(--bRadius);
  border: 1px solid var(--cBlackV3);
  text-align: start;
  background-color: #ffffff0d;
  /* max-width: 208px; */
  /* max-width: 180px; */
  min-width: 159px;
  min-height: 123px;

  @media (min-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 1524px) {
    width: 100%;
    max-width: 100%;
  }

  & > div:nth-child(1) {
    color: var(--cBlackV2);
  }

  & > div:nth-child(2) {
    color: var(--cBlackV2);
    font-size: var(--spL);

    padding-right: var(--spS);
  }

  & > div:nth-child(3) {
    margin-top: var(--spXxl);
    color: var(--cWhite);
    font-size: var(--spXl);
    padding-right: var(--spS);
  }
}

.widgetResumeWinnerCarousel {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: var(--sL);
}

.widgetResumeWinner {
  gap: var(--spL);
  display: flex;

  /* background-color: aqua; */

  & > section:nth-child(1) {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    & > div:nth-child(1) {
      /* background-color: red; */
      font-size: var(--spXl);
      font-weight: bold;
      & > div:nth-child(2) {
        /* subtitle */
        font-size: var(--spL);
        font-weight: 400;
        color: var(--cBlackV2);
      }
    }
    & > div:nth-child(2) {
      color: var(--cAccent);
      align-self: center;
      cursor: pointer;
      border-bottom: 1px solid var(--cAccent);
    }
  }
  & > section:nth-child(2) {
    display: flex;
    overflow-x: scroll;
    gap: var(--spS);

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-weight: 600;
      font-size: var(--sL);
      height: 200px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid var(--cBlackV3);
      border-radius: var(--bRadius);
      width: 100%;
      flex-grow: 1;
      height: 280px;
      gap: var(--spL);
      min-width: 300px;
      text-align: center;
      & > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: var(--spS);
        & > span:first-of-type {
          font-size: var(--spL);
          font-weight: bold;
          color: var(--cWhite);
        }
        & > span:last-of-type {
          font-size: var(--spL);
          font-weight: 400;
          color: var(--cBlackV2);
          font-size: var(--sM);
        }
      }
    }
  }
}
